body
{
    background-color:paleturquoise;
}

h1
{
    color:navy; text-align: center; font-style:oblique;
}

h2
{
    color:teal; text-align: center; font-style: oblique;
}

article p::first-letter
{
    font-size: 2em; font-style:italic; color:mediumorchid;
}
tr, td {text-align: center;}
 
table, td, th {
    animation-name: colors;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding: 20px;
    border-collapse: collapse;
}


/*animation for table*/

@keyframes colors {
    0% {
        background-color: cyan;
        color: black;
    }
    100% {
        background-color: green;
        color: white;
    }
}


.words { color:red;}
a.wow:link {color: red;}
a.wow:visited {color:white;}



/*My animated banner*/

 @keyframes move 
    {
    from {left:0;}
    to {left: calc(100% - 200px);}
    }

#banner
    {
    width: 200px; height: 55px;line-height: 55px;
    background-color: salmon; animation: move 30s alternate infinite; position:relative; text-align:center; color: navy; font-weight: bold;
    }
